* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

textarea {
  height: 25vh;
  resize: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

/* Toggle-Mode */
.toggle-mode {
  z-index: 101 !important;
  position: fixed;
  top: 8px;
  right: 25px;
}
.dark-mode {
  background-color: #343a40;
  color: #fff;
}
.light-mode {
  background-color: #fff;
  color: #000;
}

.news-header {
  text-align: center;
}


/* Toast */
.alert-message {
  position: fixed;
  z-index: 1000 !important;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-bottom-spacer {
  margin-top: 56px;
}
.carousel-banner .carousel-item{
  height: 60vh;
  overflow: hidden;
}
.carousel-banner  img {
  height: 100%;
  object-fit: cover;
}

.card-img {
  height: 175px;
  overflow: hidden;
}
.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-page {
  display: flex;
  justify-content: space-between;
}
.filter-summary {
  width: 30%;
  background-color: #000;
  color: #fff;
  padding: 40px;
  
}

/* Product Cart */
.product-container-cart .cart-img {
  overflow: hidden ;
  height: 60px;
  width: 100px;
}
.product-container-cart .cart-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.product-container-cart {
  width: 70%;

}

.three-dots {
  display: flex;
  justify-content: space-between;
}



/* Highlight */
.highlight-yellow {
  background-color: yellow;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}